html {
    border:  5px solid green;
}
.bg-theme {
    background-color: #0d2538;
    color: #ffffff;
}
main {
    margin: auto;
    width: 50%;
    padding: 10px;
}
#card {
    background-color: #0f2d44;
    color: #ffffff;
}
article {
    transition: transform 0.2s;
}
article:hover {
    transform: scale(0.9);
}
.author_img {
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.author_img:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.author {
    background-image: linear-gradient(115deg,
    rgba(1.00, 1.00, 1.00, 0.5),
    rgba(1.00, 1.00, 1.00, 0.3)),url(BOOKS.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        color: #ffffff;
        font-weight: bold;
}
.card-img-top{
    width: 100%;
}